* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: url('./images/wp12206570.webp') no-repeat;
    background-position: center;
    background-size: cover;
}

#questionImage {
    width: 100px;
    height: auto;
    top: 35px;
    right: 100px;
    opacity: 1;
    transition: opacity 0.5s ease;
    border-radius: 80px;
}

#questionImage.show {
    opacity: 1;
}

.option-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.answer:hover .option-image {
    transform: scale(1.05);
}

#warning {
    display: none;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

#inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#usernameInput {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quiz-header {
    font-weight: bold;
    text-shadow: 1px 1px 0 rgb(254 255 252 / 80%),
                 -1px -1px 0 rgb(255 255 255 / 80%),
                 1px -1px 0 rgb(255 252 252 / 80%),
                 -1px 1px 0 rgb(255 255 255 / 0%);
}

.result {
    font-weight: bold;
    text-shadow: 1px 1px 0 rgb(254 255 252 / 80%),
                 -1px -1px 0 rgb(255 255 255 / 80%),
                 1px -1px 0 rgb(255 252 252 / 80%),
                 -1px 1px 0 rgb(255 255 255 / 0%);
}

.imageRush {
    display: flex;
    margin-right: 50px;
    margin-top: 25px;
}

.question-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

h2 {
    padding: 16px;
    text-align: center;
    margin: 0;
}

.quiz-box {
    background-color: rgb(207 255 254 / 30%);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 27px;
}

ul li {
    font-size: 20px;
    margin: 15px 15px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgb(254 255 252 / 80%),
                 -1px -1px 0 rgb(255 255 255 / 80%),
                 1px -1px 0 rgb(255 252 252 / 80%),
                 -1px 1px 0 rgb(255 255 255 / 0%);
    position: relative;
}

ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FF5733;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

ul li:hover::after {
    transform: scaleX(1);
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #cbc8b5;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    padding: 15px;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #716e5b;
}

button:focus {
    outline: none;
    background-color: #ebe9e0;
}

@media (max-width: 475px) {
    body {
        background: url('../images/mobile.webp') no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 650px) {
    .question-container ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media (max-height: 421px) {
        .quiz-header {
            padding: 20px;
        }
    }

    @media (min-height: 421px) and (max-height: 700px) {
        .quiz-header {
            padding: 25px;
        }

        .quiz-box ul li {
            margin: 5px 15px;
        }

        .quiz-box ul {
            padding: 20px;
        }
    }
}
